<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tobias Sette">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{{ config['GCP_ENTERPRISE'] }} - Captive portal</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/portal.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{ url_for('static', filename='js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
    <script src="{{ url_for('static', filename='js/ie-emulation-modes-warning.js') }} "></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shiv.min.3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.min.1.4.2.js') }}"></script>
    <![endif]-->
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">{{ config['GCP_ENTERPRISE'] }}</h3>
                    {# <ul class="nav masthead-nav">
                        <li class="active"><a href="{{ url_for('portal') }}">Início</a></li>
                        <li><a href="{{ url_for('login') }}">Administrar</a></li>
                    </ul> #}
                </div>
            </div>

            {% with mensagens = get_flashed_messages(with_categories=true) %}
                {% if mensagens %}
                    <div class="row">
                        {% for categoria, mensagem in mensagens %}
                            <div role="alert" class="alert alert-{{ categoria }}">
                                {{ mensagem|safe }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="inner cover">
                <h1 class="cover-heading">Acesso à internet</h1>
                {% if d and d.name %}
                    <p class="lead">
                        {{ d.description | safe }}
                    </p>
                    <p class="lead">
                        <a href="{{ url_for('access_by_'+d.name) }}" class="btn btn-lg btn-default">Clique aqui para continuar</a>
                    </p>
                {% endif %}
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p><a href="{{ url_for('user_term') }}">Termos de uso</a></p>
                    <p>Provido pelo <a target="_blank" href="http://github.com/gnumoksha/gcp">GNU Captive Portal</a>.</p>
                    <p>Imagem de fundo por <a target="_blank" href="http://www.publicdomainpictures.net/view-image.php?image=53822&picture=espigas-de-trigo">Silviu Firulete</a>.</p>
                    <p><a href="{{ url_for('login') }}">Administrar</a></p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.1.11.0.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
