{% extends "dashboard/model.html" %}

{% block titulo %}GCP - Tipos de acesso{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span class="fa fa-road"></span> Tipos de acesso</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            {% if d %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Tempo</th>
                            <th>É o tipo de acesso padrão?</th>
                            <th>Redireciona para</th>
                            <th>Termo de uso</th>
                            <th colspan="1">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in d %}
                        <tr>
                            <td>{{ i.id}}</td>
                            <td>{{ i.name}}</td>
                            <td>{{ i.description}}</td>
                            <td>{% if i.personal_time %}{{ i.personal_time|seconds_to_text}}{% endif %}</td>
                            <td>{% if i.is_default %}Sim{% else %}Não{% endif %}</td>
                            <td>{% if i.url_redirect %}{{ i.url_redirect }}{% endif %}</td>
                            <td>{{ i.user_term_name}}</td>
                            <td>
                                <a href="{{ url_for('edit_access_type', id=i.id) }}" title="Editar tipo de acesso">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Não há tipos de acesso cadastrados
            {% endif %}
         </div>
    </div>
{% endblock %}