{% extends "dashboard/model.html" %}

{% block titulo %}GCP - editar tipo de acesso{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Editar tipo de acesso</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            <div class="col-lg-8">
                <div class="well">
                    <form class="bs-example form-horizontal" method="POST" autocomplete="off">
                        <fieldset>
                            <legend>Tipo de acesso "{{d.access_type.name}}"</legend>
                            {# <div class="form-group">
                                <label class="col-lg-2 control-label" for="name">Nome</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Seu nome" id="name" name="name" class="form-control" value="{% if form.name %}{{ form.name }}{% endif %}">
                                </div>
                            </div> #}

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="description">Descrição</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Ex.: para acessar à internet é preciso..." id="description" name="description"
                                           class="form-control" value="{% if form.description %}{{ form.description }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="personal_time">Tempo</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Em segundos" id="personal_time" name="personal_time"
                                           class="form-control" value="{% if form.personal_time %}{{ form.personal_time }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="is_default">É o tipo padrão de acesso?</label>
                                <div class="col-lg-10">
                                    <input type="checkbox" id="is_default" name="is_default"
                                           class="form-control" {% if form.is_default %}checked{% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="url_redirect">Redirecionar para</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Deixe em branco para não redirecionar" id="url_redirect" name="url_redirect"
                                           class="form-control" value="{% if form.url_redirect %}{{ form.url_redirect }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="user_term_id">Tipo de acesso</label>
                                <div class="col-lg-10">
                                    <select id="user_term_id" name="user_term_id" class="form-control">
                                        <option value="">Escolha</option>
                                        {% if form.user_term_id is defined %}
                                            {% for t in d.user_terms %}
                                                {% if t.id|int == form.user_term_id|int %}
                                                    <option selected=selected value="{{ t.id }}">{{ t.name }}</option>
                                                {% else %}
                                                    <option value="{{ t.id }}">{{ t.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for t in form.accesss %}
                                                 <option value="{{ t.id }}">{{ t.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input class="btn btn-primary" type="submit" name="submit" value="Enviar"></input>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}