table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: black;
	border-collapse: separate;
}
table td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: black;
}