/* Barra com opções */
.menubar {
    background-color: #30426A;
    margin-top: -15px;
}


/* Destaca menu ativo */
ul.sidebar .sidebar-list.active {
    background: #2d3e63;
}

ul.sidebar .sidebar-list.active a{
    color: #fff;
    border-left: 3px solid #e99d1a;
    text-indent: 22px;
}

ul.sidebar .sidebar-list.active a .menu-icon{
    text-indent: 25px;
}