/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    /* Branco
    color: #fff;*/
    /* Preto */
    color: #000;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    text-shadow: none; /* Prevent inheritence from `body` */
    /* Branco
    color: #333;
    background-color: #fff;
    border: 1px solid #fff; */
    /* Preto */
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
	color:#fff;
  	background-color:#2a6378;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
body {
    text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    /* Branco
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    /* Preto */
    color: #000;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    /* Branco
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75); */
    /* Preto */
    color: #000; /* IE8 proofing */
    color: rgba(0,0,0,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    /* Branco
    border-bottom-color: rgba(255,255,255,.25);*/
    /* Preto */
    border-bottom-color: rgba(0,0,0,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    /* Branco
    color: #fff;
    border-bottom-color: #fff; */
    /* Preto */
    color: #000;
    border-bottom-color: #000;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    /* Branco
    color: rgba(255,255,255,.5);*/
    /* Preto */
    color: rgba(0,0,0,.8);
}

/* Alert*/
.alert {
    text-shadow: none;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
    html, body {
        padding-top: 100px;
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
    html,
    body {
        /* cover */
        background: url('../img/cover.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
