body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

html,
body {
    height: 100%;
    background-color: #333;
    /* cover */
    background: url('../img/cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    text-align: center;
    /* Branco
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
    /* Preto */
    color: #000;
    text-shadow: 0 1px 3px rgba(255,255,255,.5);
    -webkit-box-shadow: inset 0 0 100px rgba(255,255,255,.5);
    box-shadow: inset 0 0 100px rgba(255,255,255,.5);
}