{% extends "dashboard/model.html" %}

{% block titulo %}GCP - obter códigos{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span class="fa fa-file-text"></span> Obter códigos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">
            {% if not codigos %}
                <div class="col-lg-5">
                    <div class="well">
                        <form class="bs-example form-horizontal" method="POST">
                            {% with mensagens = get_flashed_messages(with_categories=true) %}
                                {% if mensagens %}
                                    <div class="row">
                                        {% for categoria, mensagem in mensagens %}
                                        <div role="alert" class="alert alert-{{ categoria }}">
                                            {{ mensagem|safe }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="quantidade">Quantidade</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Quantidade" id="quantidade" name="quantidade" class="form-control"
                                           value="{{ dados.quantidade }}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="quantidade_por_linha">Quantidade por linha</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Quantidade por linha" id="quantidade_por_linha" name="quantidade_por_linha"
                                        class="form-control" value="{{ dados.quantidade_por_linha }}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="quantidade">Mensagem</label>
                                <div class="col-lg-10">
                                    {# <!--placeholder="Ex: visite http://{{ config['GCP_LOCAL_IP'] }}:{{ config['GCP_PORT'] }} e digite o código" --> #}
                                    <input type="text" placeholder="{{termo_substituir}} será substituído pelo código"
                                        id="mensagem" name="mensagem" class="form-control" value="{{ dados.mensagem }}" required>
                                </div>
                            </div>


                            <label class="checkbox">
                                <input type="checkbox" name="nao_utilizados" value="sim"
                                {% if dados.nao_utilizados %} checked {% endif %} >
                                Incluir códigos não utilizados?
                            </label>

                            <br/>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input class="btn btn-primary" type="submit" name="enviar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                {% block head %}
                    <script src="{{ url_for('static', filename='js/imprimir-area.js') }}"></script>
                {% endblock %}

                <input type="button" class="btn btn-primary" onclick="imprimirArea($('#div-tabela-codigos'),'css/dashboard-get_codes.css')" value="Imprimir" />
                <br/><br/>

                <div id="div-tabela-codigos">
                    <table class='table table-bordered'>
                        <tr>
                            {% set cont = 0 %}
                            {% for codigo in codigos %}
                                <td>
                                    {% if dados.mensagem %}
                                        {{dados.mensagem|replace(termo_substituir, codigo)}}
                                    {% else %}
                                        Código: {{codigo}}
                                    {% endif %}
                                </td>
                                {% set cont = cont + 1 %}
                                {% if cont % dados.quantidade_por_linha|int == 0 %}
                                    </tr><tr>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}