{% extends "access/model.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/register_code.css') }}" rel="stylesheet">
{% endblock %}


{% block corpo %}

    <div class="jumbotron">

        {% with mensagens = get_flashed_messages(with_categories=true) %}
            {% if mensagens %}
                <div class="row">
                    {% for categoria, mensagem in mensagens %}
                        <div role="alert" class="alert alert-{{ categoria }}">
                            {{ mensagem|safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col-lg-4">
                <p>
                    Esteja ciente de que ao realizar este procedimento
                    você estará concordando com os <a href="{{ url_for('user_term') }}">Termos de uso</a>.
                </p>
                {% if new_session.time %}
                <p>
                    Uma nova sessão poderá terminar em <mark>{{ new_session.time|seconds_to_text }}</mark>.
                    Após o término é necessário iniciar uma nova.
                </p>
                {% endif %}
            </div>

            <div class="col-lg-8">
                <div class="well">
                    <form class="bs-example form-horizontal" method="POST" autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="code_id">Código de acesso</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Código de acesso" id="code_id" name="code_id" class="form-control" value="{{ request.form.code_id }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input class="btn btn-primary" type="submit" name="submit" value="Enviar"></input>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}