{% extends "access/model.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/user_term.css') }}" rel="stylesheet">
{% endblock %}


{% block corpo %}

    <div class="well">

        {% with mensagens = get_flashed_messages(with_categories=true) %}
            {% if mensagens %}
                <div class="row">
                    {% for categoria, mensagem in mensagens %}
                        <div role="alert" class="alert alert-{{ categoria }}">
                            {{ mensagem|safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h1>Termos de uso</h1>
        <p>
            Para realizar o acesso à internet, é necessário concordar com os termos de uso.
            Por favor, leia atentamente e, caso os aceite, clique em "Aceito".
        </p>
        {% if new_session.time %}
        <p>
            <b>Uma nova sessão poderá terminar em <mark>{{ new_session.time|seconds_to_text }}</mark>.
            Após o término é necessário iniciar uma nova.</b>
        </p>
        {% endif %}

        <div class="row">
             <form class="bs-example form-horizontal" method="POST" autocomplete="off">
                 <div class="text-justify">{{ user_term.text | safe }}</div>
                 <div class="form-group">
                    <div>
                        <input class="btn btn-primary" type="submit" name="accept" value="Aceito">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}