{% extends "dashboard/model.html" %}

{% block titulo %}GCP - editar termo de uso{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Editar termos de usoo</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            <div class="col-lg-8">
                <div class="well">
                    <form class="bs-example form-horizontal" method="POST" autocomplete="off">
                        <fieldset>
                            <legend>Termo de uso "{{d.user_term.name}}"</legend>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="name">Nome</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Ex.: para acessar à internet é preciso..." id="name" name="name"
                                           class="form-control" value="{% if form.name %}{{ form.name }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Texto</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" name="text">{% if form.text %}{{ form.text }}{% endif %}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input class="btn btn-primary" type="submit" name="submit" value="Enviar"></input>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
         </div>
    </div>

{% endblock %}