{% extends "dashboard/model.html" %}

{% block titulo %}GCP - Termos de uso{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span class="fa fa-list-ul"></span> Termos de uso</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            {% if d %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th colspan="1">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in d %}
                        <tr>
                            <td>{{ i.id}}</td>
                            <td>{{ i.name}}</td>
                            <td>
                                <a href="{{ url_for('edit_user_term', id=i.id) }}" title="Editar termo de uso">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Não há termos de uso cadastrados
            {% endif %}
         </div>
    </div>

{% endblock %}