{% extends "dashboard/model.html" %}

{% block titulo %}GCP - editar usuário{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% if d.operacao == "criado" %}Criar{% else %}Atualizar{% endif %} usuário</h1>
    </div>
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            <div class="col-lg-8">
                <div class="well">
                    <form class="bs-example form-horizontal" method="POST" autocomplete="off">
                        <fieldset>
                            <legend>Usuário</legend>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="name">Nome</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Ex.: João da Silva" id="name" name="name"
                                           class="form-control" value="{% if d.user.name %}{{ d.user.name }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="user">Usuário</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Ex.: joao.silva" id="user" name="user"
                                           class="form-control" value="{% if d.user.user %}{{ d.user.user }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="password">Senha</label>
                                <div class="col-lg-10">
                                    <input type="password" id="password" name="password"
                                           class="form-control" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="password_verify">Digite a senha novamente</label>
                                <div class="col-lg-10">
                                    <input type="password" id="password_verify" name="password_verify"
                                           class="form-control" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="is_active">Está ativo?</label>
                                <div class="col-lg-10">
                                    <input type="checkbox" id="is_active" name="is_active"
                                           class="form-control" {% if d.user.is_active %}checked{% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input class="btn btn-primary" type="submit" name="submit" value="Enviar"></input>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
         </div>
    </div>

{% endblock %}