{% extends "dashboard/model.html" %}

{% block titulo %}GCP - Usuários{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <span class="fa fa-user"></span> Usuários
            <a href="{{ url_for('edit_user') }}" class="btn btn-info"><span class="fa fa-plus"></span> Novo</a>
        </h1>
    </div>
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            {% if d %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Criado em</th>
                            <th>Nome</th>
                            <th>Usuário</th>
                            <th>Ativo?</th>
                            <th colspan="1">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in d %}
                        <tr>
                            <td>{{ i.date_time|formata_data_hora}}</td>
                            <td>{{ i.name}}</td>
                            <td>{{ i.user}}</td>
                            <td>{% if i.is_active %}Sim{% else %}Não{% endif %}</td>
                            <td>
                                <a href="{{ url_for('edit_user', id=i.id) }}" title="Editar usuário">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Não há usuários cadastrados
            {% endif %}
         </div>
    </div>

{% endblock %}