{% extends "dashboard/model.html" %}

{% block titulo %}GCP - Bloquear host{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Bloquear host
        </h1>
    </div>
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            <form class="form" role="form" method="post">
                                <p>
                                    <input style="width: 100%;" type="text" id="mac" name="mac" class="typeahead" placeholder="Procurar host">
                                </p>
                                <p>
                                    <input class="form-control" type="text" id="reason" name="reason" placeholder="Motivo">
                                </p>
                                <button class="btn btn-primary" type="submit">Bloquear</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            $("#mac").select2({
            minimumInputLength: 3,
            ajax: {
                url: "{{ url_for('ajax_search_host') }}",
                dataType: 'json',
                data: function(term, page) {
                    return {
                        q: term,
                    };
                },
                results: function (data, page) {
                    return {
                        results: $.map(data, function (field, i) {
                            return {
                                id: field.mac,
                                text: field.label + " - " + field.mac,
                            }
                        })
                    }
                }
            },
            });
        });
    </script>
{% endblock %}