{% extends "dashboard/model.html" %}

{% block titulo %}GCP - hosts bloqueados{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Hosts bloqueados
            <a href="{{ url_for('block_host') }}" class="btn btn-info"><span class="fa fa-ban"></span> Bloquear</a>
        </h1>
    </div>
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            {% if bloqueados %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><a href="?order=blocked.date_time">Bloqueado em</a></th>
                            <th><a href="?order=hosts.name">Nome</a></th>
                            <th><a href="?order=blocked.mac">MAC</a></th>
                            <th><a href="?order=blocked.reason">Motivo</a></th>
                            <th><a href="?order=device_types.description">Dispositivo</a></th>
                            <th><a href="?order=hosts.device_description">Descrição equipamento</a></th>
                            <th>Último acesso</th>
                            <th colspan="1">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bloqueado in bloqueados %}
                        <tr>
                            <td>{{ bloqueado.date_time|formata_data_hora }}</td>
                            <td>{% if bloqueado.nome_host is not none %} {{ bloqueado.nome_host }} {% endif %}</td>
                            <td>{{ bloqueado.mac }}</td>
                            <td>{% if bloqueado.reason is not none %} {{ bloqueado.reason }} {% endif %}</td>
                            <td>{% if bloqueado.device_type %} {{ bloqueado.device_type }} {% endif %}</td>
                            <td>{% if bloqueado.device_description is not none %} {{ bloqueado.descricao_equipamento }} {% endif %}</td>
                            <td>{% if bloqueado.last_access is not none %} {{ bloqueado.last_access|formata_data_hora }} {% endif %}</td>
                            <td>
                                <a href="{{ url_for('unblock_host') }}?mac={{ bloqueado.mac }}" title="Desbloquear MAC"
                                        onclick="javascript: return confirm('Deseja realmente desbloquear este host?')">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Não há dispositivos bloqueados
            {% endif %}
        </div>
    </div>

{% endblock %}