{% extends "dashboard/model.html" %}

{% block titulo %}GCP - Detalhes do host{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Detalhes do host
            <a href="{{ url_for('edit_host', id=d.host.id) }}" class="btn btn-info"><span class="fa fa-pencil"></span> Editar</a>
        </h1>
    </div>
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">

        <ul role="tablist" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" role="tab" href="#register">Dados cadastrais</a></li>
            {# <li><a data-toggle="tab" role="tab" href="#conections">Conexões</a></li> #}
        </ul>

        <!-- tab content -->
        <div class="tab-content">

            <!-- register data -->
            <div id="register" class="tab-pane fade in active">
                <div class="col-lg-6">
                    <form role="form">
                        <div class="form-group">
                            <label for="host_name">Nome</label>
                            <input type="text" class="form-control" id="host_name" value="{% if d.host.name %}{{ d.host.name }}{% endif %}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="host_mac">MAC</label>
                            <input type="text" class="form-control" id="host_mac" value="{% if d.host.mac %}{{ d.host.mac }}{% endif %}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="host_mac_vendor">Fabricante MAC</label>
                            <input type="text" class="form-control" id="host_mac_vendor" value="{% if d.host.oui_organization %}{{ d.host.oui_organization }}{% endif %}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="host_email">E-mail</label>
                            <input type="text" class="form-control" id="host_email" value="{% if d.host.email %}{{ d.host.email }}{% endif %}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="host_device_type">Tipo de dispositivo</label>
                            <input type="text" class="form-control" id="host_device_type" value="{% if d.host.device_type %}{{ d.host.device_type }}{% endif %}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="host_access_type">Tipo de acesso</label>
                            <input type="text" class="form-control" id="host_access_type" value="{% if d.host.access_type %}{{ d.host.access_type }}{% endif %}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="host_personal_time">Tempo</label>
                            <input type="text" class="form-control" id="host_personal_time" value="{% if d.host.personal_time %}{{ d.host.personal_time|seconds_to_text }}{% endif %}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="host_device_description">Descrição</label>
                            <textarea class="form-control" rows="3" id="host_device_description" readonly>{% if d.host.device_description %}{{ d.host.device_description }}{% endif %}</textarea>
                        </div>
                    </form>
                </div>
            </div>

            {#
            <div id="conections" class="tab-pane fade">
                DBA
            </div>
            #}
        </div>

</div>


{% endblock %}