{% extends "dashboard/model.html" %}

{% block titulo %}GCP - editar host{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% if d.operacao == "criado" %}Criar{% else %}Atualizar{% endif %} host</h1>
    </div>
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            <div class="col-lg-8">
                <div class="well">
                    <form class="bs-example form-horizontal" method="POST" autocomplete="off">
                        <fieldset>
                            <legend>Host</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="name">
                                    <span class="fa fa-asterisk" style="color: red"></span>Nome completo
                                </label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Seu nome" id="name" name="name" class="form-control" value="{% if d.host.name %}{{ d.host.name }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="email">E-mail</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Email" id="email" name="email" class="form-control" value="{% if d.host.email %}{{ d.host.email }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="device_type_id">Dispositivo</label>
                                <div class="col-lg-10">
                                    <select id="device_type_id" name="device_type_id" class="form-control">
                                        <option value="">Escolha</option>
                                        {% if d.host.device_type_id is defined %}
                                            {% for t in d.devices %}
                                                {% if t.id|int == d.host.device_type_id|int %}
                                                    <option selected=selected value="{{ t.id }}">{{ t.description }}</option>
                                                {% else %}
                                                    <option value="{{ t.id }}">{{ t.description }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for t in d.devices %}
                                                 <option value="{{ t.id }}">{{ t.description }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="device_description">Descrição equipamento</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Ex.: notebook do João" id="device_description" name="device_description"
                                           class="form-control" value="{% if d.host.device_description %}{{ d.host.device_description }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="mac">
                                    <span class="fa fa-asterisk" style="color: red"></span> MAC
                                </label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Endereço MAC" id="mac" name="mac"
                                           class="form-control" value="{% if d.host.mac %}{{ d.host.mac }}{% endif %}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="always_released">Sempre liberado?</label>
                                <div class="col-lg-10">
                                    <input type="checkbox" id="always_released" name="always_released"
                                           class="form-control" {% if d.host.always_released %}checked{% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="allow_user_edit">Permitir que o usuário atualize suas informações?</label>
                                <div class="col-lg-10">
                                    <input type="checkbox" id="allow_user_edit" name="allow_user_edit"
                                           class="form-control" {% if d.host.allow_user_edit %}checked{% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="personal_time">Tempo</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Em segundos" id="personal_time" name="personal_time"
                                           class="form-control" value="{% if d.host.personal_time %}{{ d.host.personal_time }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="access_type_id">Tipo de acesso</label>
                                <div class="col-lg-10">
                                    <select id="access_type_id" name="access_type_id" class="form-control">
                                        <option value="">Escolha</option>
                                        {% if d.host.access_type_id is defined %}
                                            {% for t in d.accesses %}
                                                {% if t.id|int == d.host.access_type_id|int %}
                                                    <option selected=selected value="{{ t.id }}">{{ t.name }}</option>
                                                {% else %}
                                                    <option value="{{ t.id }}">{{ t.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for t in d.accesss %}
                                                 <option value="{{ t.id }}">{{ t.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input class="btn btn-primary" type="submit" name="submit" value="Enviar"></input>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}