{% extends "dashboard/model.html" %}

{% block titulo %}GCP - hosts cadastrados{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='vendors/sb-admin-2/css/plugins/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <span class="fa fa-desktop"></span> Hosts
            <a href="{{ url_for('edit_host') }}" class="btn btn-info"><span class="fa fa-plus"></span> Novo</a>
            <a href="{{ url_for('blocked_hosts') }}" class="btn btn-info"><span class="fa fa-ban"></span> Ver bloqueados</a>
            <a href="{{ url_for('block_host') }}" class="btn btn-info"><span class="fa fa-ban"></span> Bloquear</a>
        </h1>
    </div>
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-lg-12">
            {% if hosts %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table-hosts">
                        <thead class="table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Cadastrado em</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Dispositivo</th>
                            <th>Descrição equipamento</th>
                            <th>MAC</th>
                            <th>Fabricante MAC</th>
                            <th>Sempre liberado?</th>
                            <th>Tipo de acesso</th>
                            <th>Tempo particular</th>
                            <th>Bloqueado?</th>
                            <th>Último acesso</th>
                            <th>E</th>
                            <th>B</th>
                            <th>D</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for host in hosts %}
                        <tr>
                            <td>{{ host.id }}</td>
                            <td>{{ host.date_time|formata_data_hora }}</td>
                            <td>{% if host.name %} {{ host.name }} {% endif %}</td>
                            <td>{% if host.email %} {{ host.email }} {% endif %}</td>
                            <td>{% if host.device_type %} {{ host.device_type }} {% endif %}</td>
                            <td>{% if host.device_description %} {{ host.device_description }} {% endif %}</td>
                            <td>{{ host.mac }}</td>
                            <td>{% if host.oui_organization %} {{ host.oui_organization }} {% endif %}</td>
                            <td>{% if host.always_released %} Sim {% else %} Não {% endif %}</td>
                            <td>{% if host.access_type %} {{ host.access_type }} {% endif %}</td>
                            <td>{% if host.personal_time %} {{ host.personal_time|seconds_to_text }} {% endif %}</td>
                            <td>{% if host.bloqueado %} {{ host.bloqueado|formata_data_hora }} {% else %} Não {% endif %}</td>
                            <td>{% if host.ultimo_acesso %} {{ host.ultimo_acesso|formata_data_hora }} {% endif %}</td>
                            <td>
                                <a href="{{ url_for('edit_host', id=host.id) }}" title="Editar host" class="editar_host">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            </td>
                            <td>
                                {% if not host.bloqueado %}
                                <a href="{{ url_for('block_host') }}?mac={{ host.mac }}" title="Bloquear host" class="bloquear_host">
                                    <span class="fa fa-ban"></span>
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if host.bloqueado %}
                                <a href="{{ url_for('unblock_host') }}?mac={{ host.mac }}" title="Desbloquear host" class="desbloquear_host"
                                        onclick="javascript: return confirm('Deseja realmente desbloquear este host?')">
                                    <span class="fa fa-check-circle"></span>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Não há hosts cadastrados
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

<script type="text/javascript">
    $('.bloquear_host').on("click", function() {
        motivo = prompt('Motivo (não obrigatório):');
        if (motivo == null) {
            // usuario clicou em cancelar
            return (false);
        }
        if (motivo != "") {
            link = $(this).attr('href') + "&reason=" + motivo;
            $(this).attr('href', link);
        }
    });

     $(document).ready(function() {
        $('#table-hosts').dataTable();
    });
</script>

{% endblock %}