{% extends "dashboard/model.html" %}

{% block titulo %}GCP - firewall{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span class="fa fa-fire"></span> Firewall</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            <div class="bs-callout bs-callout">
                <h4>Ações</h4>
                <a class="btn btn-primary" href="{{ url_for('firewall', acao='list_rules') }}">Listar regras</a>
                <a class="btn btn-danger" href="{{ url_for('firewall', acao='create_rules') }}">(Re)Criar regras</a>
                <a class="btn btn-danger" href="{{ url_for('firewall', acao='delete_rules') }}">Deletar regras</a>
            </div>

            {% if retorno is not none%}
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Retorno</h3>
                        </div>
                        <div class="panel-body">
                            <pre>
Bruto:
{{ retorno }}

---------------------

Tratado:
*Resultado: {{ retorno['result'] }}
*Número de erros: {{ retorno['total_errors'] }}
*Mensagens de suceso: {{ retorno['messages']['success'] | replace ('\\n', '&#10;&#13;') | safe }}
*Mensagens de erro: {{ retorno['messages']['error'] | replace ('\\n', '&#13;&#10;') | safe }}
                            </pre>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}