{% extends "dashboard/model.html" %}

{% block titulo %}GCP - Dashboard{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span class="fa fa-home"></span> Início</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-share-alt fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ d.numero_acessos_ativos }}</div>
                        <div>Conexões ativas</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <a href="{{ url_for('sessions') }}"><span class="pull-left">Ver mais</span></a>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ d.numero_hosts_cadastrados }}</div>
                        <div>Usuários cadastrados</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <a href="{{ url_for('hosts') }}"><span class="pull-left">Ver mais</span></a>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-file-text fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ d.unused_access_codes }}</div>
                        <div>Códigos de acesso disponíveis</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <a href="{{ url_for('get_codes') }}"><span class="pull-left">Obter</span></a>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-share-alt fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ d.numero_sessoes_finalizadas }}</div>
                        <div>Conexões já realizadas</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <a href="{{ url_for('sessions') }}"><span class="pull-left">Ver ativos</span></a>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>

{# INFO #}

<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="fa fa-line-chart"></span> Usuários com mais acessos
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div id="chart-top-by-number" class="flot-chart-content" style="padding: 0px; position: relative"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="fa fa-list"></span> Usuários com mais acessos
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr><th class="text-center">Nome</th><th>Descrição</th><th>Dispositivo</th><th>Acessos</th></tr>
                        </thead>
                        <tbody>
                        {% for r in d.top_numero_acessos %}
                        <tr>
                            <td>{% if r.name %} {{ r.name }} {% endif %}</td>
                            <td>{% if r.device_description %} {{ r.device_description }} {% endif %}</td>
                            <td>{% if r.device_type %} {{ r.device_type }} {% endif %}</td>
                            <td>{% if r.quantidade_acessos %} {{ r.quantidade_acessos }} {% endif %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="fa fa-line-chart"></span> Usuários com mais tempo de acesso
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div id="chart-top-by-time" class="flot-chart-content" style="padding: 0px; position: relative"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="fa fa-list"></span> Usuários com mais tempo de acesso
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr><th class="text-center">Nome</th><th>Descrição</th><th>Dispositivo</th><th>Tempo</th></tr>
                        </thead>
                        <tbody>
                        {% for r in d.top_tempo_acessos %}
                        <tr>
                            <td>{% if r.name %} {{ r.name }} {% endif %}</td>
                            <td>{% if r.device_description %} {{ r.device_description }} {% endif %}</td>
                            <td>{% if r.device_type %} {{ r.device_type }} {% endif %}</td>
                            <td>{% if r.total_tempo_segundos %} {{ r.total_tempo_segundos|seconds_to_text }} {% endif %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/flot/excanvas.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/flot/jquery.flot.pie.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/index.js') }}"></script>

<script type="text/javascript">
            var data = {{ '{' }}
             'top-by-number': {{ d.top_by_number|safe }},
             'top-by-time': {{ d.top_by_time|safe }},
            {{ '}' }};
</script>
{% endblock %}