<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GCP - GNU Captive Portal">
    <meta name="author" content="Tobias Sette">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{{ config['GCP_ENTERPRISE'] }} - Captive portal</title>


    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Por favor, faça login</h3>
                </div>
                <div class="panel-body">
                    {% with mensagens = get_flashed_messages(with_categories=true) %}
                    {% if mensagens %}
                    <div class="row">
                        {% for categoria, mensagem in mensagens %}
                        <div role="alert" class="alert alert-{{ categoria }}">
                            {{ mensagem|safe }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <form role="form" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Usuário" name="user" type="text"
                                       value="{{ request.form.user }}" autofocus autocomplete="off" required="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Senha" name="password" type="password"
                                       value="" required="">
                            </div>
                            {# <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div> #}
                            <input type="submit" name="login" class="btn btn-lg btn-success btn-block" value="Login"></input>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/jquery-1.11.0.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/metisMenu/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/sb-admin-2.js') }}"></script>

</body>

</html>