<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CCP - GNU Captive Portal">
    <meta name="author" content="Tobias Sette">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{% block titulo %}GCP - administração{% endblock %}</title>

    <!-- CSS -->
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/css/sb-admin-2.css') }}" rel="stylesheet">
    {#
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/css/plugins/timeline.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/css/plugins/morris.css') }}" rel="stylesheet">
    #}
    {#
    <link href="{{ url_for('static', filename='vendors/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    #}
    <link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2/select2.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2/select2-bootstrap3.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"/>
    {% block css %}{% endblock %}

    <!-- SCRIPTS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        {# #TODO O recomendado é utilizar
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        porem o request.script_root não retorna dados.
        http://flask.pocoo.org/docs/patterns/jquery/#where-is-my-site #}
        script_root = {{ request.url_root|tojson|safe }};

    </script>
    {% block head %}{% endblock %}

</head>
<body>
<div id="wrapper">

{# link, título, icone #}
{% set dados_links = [ (url_for('dashboard'), 'Início', 'home' ),
(url_for('hosts'), 'Hosts', 'desktop'),
(url_for('sessions'), 'Sessões', 'share-alt'),
(url_for('get_codes'), 'Códigos', 'file-text'),
(url_for('access_types'), 'Tipos de acesso', 'road'),
(url_for('user_terms'), 'Termos', 'list-ul'),
(url_for('firewall'), 'Firewall', 'fire'),
(url_for('utilities'), 'Utilitários', 'bolt'),
(url_for('users'), 'Usuários', 'user'),
]
%}

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">GCP - Gnu Captive Portal</a>
</div>

<ul class="nav navbar-top-links navbar-right">
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href="{{ url_for('edit_user', id=session.user_id) }}"><i class="fa fa-user fa-fw"></i> {{ session.user_name }}</a>
        </li>
        <li class="divider"></li>
        <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
        </li>
    </ul>
</li>
</ul>

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class=" custom-search-form">
                    <form id="form_main_search_host" action="{{ url_for('detail_host') }}" method="get">
                        <input type="text" id="main_search_host" name="id" placeholder="Procurar host">
                    </form>
                </div>
            </li>
            {% for link, descricao, icone in dados_links %}
            {# #FIXME nao funciona se o link for sub diretorio do path. Ex.: hosts/blocked #}
            <li>
            <a {% if request.path == link %}class="active"{% endif %} href="{{ link }}">
                <i class="menu-icon fa fa-{{ icone }}"></i> {{ descricao }}
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</nav>

<div id="page-wrapper">
    {% block body %}{% endblock %}
</div>

</div>

<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/jquery-1.11.0.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/metisMenu/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/sb-admin-2.js') }}"></script>
{#<!-- Morris Charts JavaScript -->
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/morris/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/morris/morris.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sb-admin-2/js/plugins/morris/morris-data.js') }}"></script> #}
<script src="{{ url_for('static', filename='vendors/select2/select2.js') }}"></script>

<script type="text/javascript">
        $(function() {
            main_search_host = $("#main_search_host");
            form_search_host = $("#form_main_search_host");

            main_search_host.select2({
            minimumInputLength: 3,
            ajax: {
                url: "{{ url_for('ajax_search_host') }}",
                dataType: 'json',
                data: function(term, page) {
                    return {
                        q: term,
                    };
                },
                results: function (data, page) {
                    return {
                        results: $.map(data, function (field, i) {
                            return {
                                id: field.id,
                                text: field.label + " - " + field.mac,
                            }
                        })
                    }
                }
            },
            });


            main_search_host.change(function() {
                form_search_host.submit();
            });
        });
    </script>

{% block script %}{% endblock %}

</body>
</html>