{% extends "dashboard/model.html" %}

{% block titulo %}GCP - sessões ativas{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span class="fa fa-share-alt"></span> Sessões ativas</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            {% if acessos %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><a href="?order=sessions.date_time_begin">Início</a></th>
                            <th>Tempo / origem</th>
                            <th>Fim estimado</th>
                            <th><a href="?order=hosts.name">Nome</a></th>
                            <th><a href="?order=hosts.device_type_id">Dispositivo</a></th>
                            <th><a href="?order=hosts.device_description">Descrição</a></th>
                            <th><a href="?order=sessions.ip_address">IP</a></th>
                            <th><a href="?order=hosts.mac">MAC</a></th>
                            <th><a href="?order=access_types.id">Tipo de acesso</a></th>
                            <th><a href="?order=sessions.browser_name">Browser</a></th>
                            <th><a href="?order=sessions.os_name">S.O.</a></th>
                            <th><a href="?order=sessions.dist_name">Distribuição</a></th>
                            {# <th>Plataforma</th> #}
                            <th colspan="2">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for acesso in acessos %}
                        <tr>
                            <td>{{ acesso.date_time_begin|formata_data_hora }}</td>
                            {# #TODO traduzir #}
                            <td>
                                {% if acesso.tempo %} {{ acesso.tempo|seconds_to_text }} / {% endif %}
                                {% if acesso.origem_tempo %} {{ acesso.origem_tempo }} {% endif %}
                            </td>
                            <td>
                                {% if acesso.acesso_valido_ate %} {{ acesso.acesso_valido_ate|formata_data_hora }} {% endif %}
                            </td>
                            <td>{% if acesso.name %} {{ acesso.name }} {% endif %}</td>
                            <td>{% if acesso.device_type %} {{ acesso.device_type }} {% endif %}</td>
                            <td>{% if acesso.device_description %} {{ acesso.device_description }} {% endif %}</td>
                            <td><a title="Hostname: {{ acesso.hostname }}">{{ acesso.ip_address }}</a></td>
                            <td>{{ acesso.mac }}</td>
                            <td>{{ acesso.tipo_acesso }}</td>
                            <td>
                                {{ acesso.browser_name }} {{ acesso.browser_version }}
                            </td>
                            <td>
                                {% if acesso.os_name %} {{ acesso.os_name }} {% endif %}
                                {% if acesso.os_version %} {{ acesso.os_version }} {% endif %}
                            </td>
                            <td>
                                {% if acesso.dist_name %} {{ acesso.dist_name }} {% endif %}
                                {% if acesso.dist_version %} {{ acesso.dist_version }} {% endif %}
                            </td>
                            {#
                            <td>
                                {% if acesso.platform_name %} {{ acesso.platform_name }} {% endif %}
                                {% if acesso.platform_version %} {{ acesso.platform_version }} {% endif %}
                            </td>
                            #}
                            <td>
                                <a href="{{ url_for('block_host') }}?mac={{ acesso.mac }}" title="Bloquear host" class="bloquear_host">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('terminate_session') }}?id={{ acesso.id }}" title="Terminar sessão" class="terminar_sessao"
                                        onclick="javascript: return confirm('Deseja realmente terminar esta sessão?')">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Não há sessões ativas
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    $('.bloquear_host').on("click", function() {
        motivo = prompt('Motivo (não obrigatório):');
        if (motivo == null) {
            // usuario clicou em cancelar
            return (false);
        }
        if (motivo != "") {
            link = $(this).attr('href') + "&reason=" + motivo;
            $(this).attr('href', link);
        }
    });
</script>

{% endblock %}