{% extends "dashboard/model.html" %}

{% block titulo %}GCP - Utilitários{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span class="fa fa-bolt"></span> Utilitários</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% with mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="alert alert-{{ categoria }} alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ mensagem|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-xs-12">

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Obter MAC</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline" role="form" method="post" action="{{ url_for('utilities', acao='get_mac') }}">
                                <input class="form-control" type="text" name="endereco_ip" placeholder="Endereço IP">
                                <button class="btn btn-primary" type="submit">Obter MAC</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Limpar conexões ativas há mais de X segundos</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Por padrão os usuários conectados há mais de {{ config['GCP_EXPIRE'] }} segundos são desconectados automaticamente.
                            </p>
                            <form class="form-inline" role="form" method="post" action="{{ url_for('utilities', acao='wipe_connections') }}">
                                <input class="form-control" type="text" name="numero_segundos" placeholder="Número de segundos">
                                <button class="btn btn-primary" type="submit">Limpar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% if retorno is not none%}
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Retorno</h3>
                        </div>
                        <div class="panel-body">
                            <textarea class="form-control" rows="3" readonly>{{ retorno }}</textarea>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}